.main {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1250px;
  margin: 0 auto;
}

.grid-WrapperCard {
  display: block;
}

.list-WrapperCard {
  display: flex;
  gap: 160px;
}

.grid-view {
  grid-template-columns: repeat(4, 1fr);
}

.list-view {
  grid-template-columns: 1fr;
}

.list-img {
  width: 86px;
  height: 86px;
}

.card {
  display: flex;
}

.grid-card {
  flex-direction: column;
}

.list-card {
  justify-content: space-around;
  flex-direction: row;
}

.wrapContent {
  display: flex;
  justify-content: space-between;
}

.list-wrapContent {
  gap: 160px;
}

.grid-wrapContent {
  padding: 12px;
}

.list-TodayWrap {
}

.todayUpdate {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.wrapImg {
  gap: 6px;
  margin-top: 7px;
}

.grid-wrapImg {
  display: block;
}

.list-wrapImg {
  display: flex;
}

.like-heart {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.list-like-heart {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 8px 0;
}

.grid-like-heart {
  margin: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
}

.UploadWrap {
  align-items: center;
}

.grid-UploadWrap {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
}

.list-UploadWrap {
  padding: 12px 0 0 0;
}

.list-UploadWrap {
  display: block;
  align-items: end;
  text-align: end;
  justify-content: end;
}

.uploadDate {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

.img {
  width: 18px;
  height: 18px;
}
