.header {
  background-color: #ffffffab;
  height: 172px;
}

.header__container {
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
  display: flex;
  gap: 86px;
}

.header__text {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.header__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}

.header__start-date {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  color: #3d8eda;
  border: 1px solid #3d8eda;
  border-radius: 2px;
  padding: 6px 12px;
}

.header__folow {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

.number {
  font-family: "Rodoto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}

.name {
  font-family: "Rodoto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}
.header__date {
  display: flex;
  align-items: center;
  gap: 22px;
}

.date {
  margin: 0;
  font-family: "Rodoto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
